<div class="container">
  <h1 style="margin-top: 150px">My Offices</h1>
  <hr>
  <% @office_spaces.each do |office_space| %>
  <div class="office-space-booking-container">
    <div class="office-image">
      <% if office_space.photo.file %>
      <%= cl_image_tag(office_space.photo, height: 350, width: 300, crop: :fill) %>
      <% else %>
      <%=cl_image_tag("fhj3o5ffjyhaexzdxuqa", height: 350, width: 300, crop: :fill) %>
      <% end %>
    </div>
    <div class="booking-details">
      <table class="table fixed">
        <col width="60px" />
        <col width="220px" />
        <col width="150px" />
        <col width="150px" />
        <tr>
          <th>
            ID
          </th>
          <th>
            Email
          </th>
          <th>
            Check-in
          </th>
          <th>
            Check-out
          </th>
          <th>
            Users
          </th>
          <th>
            Cancel
          </th>
          <th>
            <%if office_space.reservations.count == 0 then%>
            <%= link_to office_space_path(office_space), method: :delete,data: {confirm: "Are you sure? No more income!"} do %>
            <p style="text-decoration: none">Destroy</p>
            <%end%>
            <%end%>
          </th>
        </tr>
        <% office_space.reservations.each do |reservation| %>
        <tr>
          <td>
            <%= reservation.id %>
          </td>
          <td>
            <%= reservation.user.email %>
          </td>
          <td>
            <%= reservation.check_in %>
          </td>
          <td>
            <%= reservation.check_out %>
          </td>
          <td>
            <%= reservation.usernumber %>
          </td>
          <td>
            <%= link_to reservation_path(reservation), method: :delete, data: {confirm: "Are you sure? your guest will be very unhappy!"} do %>
            <i class="far fa-trash-alt" style="color: rgb(50,50,50)"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <hr>
  <% end %>
</div>
