<!--  -->
<div class="banner-reservation" style="width:100%; height: 45vh; background-color:#E7D28A; color: white">
  <div style="text-align:center">
    <h2>All My Reservations</h2>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <% @reservations.each_with_index do |reservation, index| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card card-reservation">
        <div class='image'>
          <%= cl_image_tag reservation.office_space.photo, height: 200, width: 300 %>
          <div class="cover">
            <%= link_to "", office_space_path(reservation.office_space), class: "card-link"%>
          </div>
        </div>
        <div class="review-card-description">
          <h4><%= index+1 %>. <%= reservation.office_space.name %></h4>
          <%= current_user.email %>
          </p>
          <p>check in: <b><%= reservation.check_in %></b> </p>
          <p>check out: <b><%= reservation.check_out %></b></p>
          <div class="two-buttons" style="display: flex; justify-content: space-between; padding-top: 20px">
            <%= link_to reservation_path(reservation), method: :delete, data: {confirm: "Are you sure? your host will be very unhappy!"} do %><button type="button" class="btn btn-cancel">Cancel</button>
            <% end %>
            <%= link_to conversations_path(@conversation, reservation: reservation), method: :post do %>
            <button type="button" class="btn btn-message">Message</button>
            <% end %>
          </div>
          <br>
          <br>
          <br>
          s<br>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% if @reservations.first.nil? %>
  <h4>You have no reservations yet</h4>
  <% end %>
</div>
