<div class="container">
  <div class="form">
    <h1>Add a office space</h1>
    <%= simple_form_for @office_space do |f| %>
    <%= f.input :name%>
    <%= f.input :address%>
    <%= f.input :price%>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= button_tag( :class => "button") do %>
    <i class="fas fa-plus-circle"></i> Make Office Space
    <% end %>
    <% end %>
  </div>
</div>
