<%= render 'shared/navbar_unfixed' %>
<div class="search-page">
  <div class="search-result-container">
    <h4>Searching for workspaces in <%= @params %></h4>
    <div class="row">
      <% @office_spaces.each do |office_space| %>
      <div class="col-xs-6 col-sm-6">
        <div class="card">
          <div class='image'>
            <%= cl_image_tag office_space.photo, height: 200, width: 300 %>
            <%= link_to "", office_space_path(office_space), class: "card-link"%>
          </div>
          <div class="review-card-description">
            <p>
              <%= office_space.name %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="map" , data-markers="<%= @markers.to_json %>"></div>
</div>
