<h1>OfficeSpaces#show</h1>
<p>Find me in app/views/office_spaces/show.html.erb</p>
<h2>Make a reservation</h2>
<div class="photo-container">
  <div class="row big-box">
    <div class="grid">
      <div class="element1">
        <%= @office_space.photo %>
      </div>
      <div class="element2">
        <%= @office_space.photo %>
      </div>
      <div class="element3">
        <%= @office_space.photo %>
      </div>
    </div>
  </div>
</div>
<!-- <h1>OfficeSpaces#show</h1>
<p>Find me in app/views/office_spaces/show.html.erb</p> -->
<div class="container">
  <div class="row">
    <h1><%= @office_space.name %></h1>
    <ul>
      <li>
        <%= @office_space.address %>
      </li>
      <li>
        <%= @office_space.description %>
      </li>
      <li>
        <%= @office_space.nearest_station %>
      </li>
      <li>
        <%= @office_space.owner %>
      </li>
      <li>
        <%= @office_space.price %>
      </li>
    </ul>
  </div>
</div>
<div class="cards-container">
  <div class="row">
    <% @office_space.reviews.each do |review| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card-review">
        <div class="stars">
          <% review.rating.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </div>
        <div class="comment">
          <%= review.comment %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="add-review-form">
  <%= simple_form_for [@office_space, @review] do |f| %>
  <%= f.input :comment, placeholder: 'Awesome workspace!' %>
  <%= f.input :rating, collection: [1,2,3,4,5], required: false %>
  <%= button_tag( class: "button") do %>
  <i class="fas fa-plus-circle"></i> Add a Review
  <% end %>
  <% end %>
</div>
<h2><%= link_to "Reserve!", new_office_space_reservation_path(@office_space)%></h2>
