
<!-- office photo -->
<div class="photo-container">
  <div class="row big-box">
    <div class="grid">
      <div class="element1">
        <%= @office_space.photo %>
      </div>
      <div class="element2">
        <%= @office_space.photo %>
      </div>
      <div class="element3">
        <%= @office_space.photo %>
      </div>
    </div>
  </div>
</div>

<!-- office info -->
<div class="container">
  <div class="row">
    <h2><%= @office_space.name %></h2>
    <ul>
      <li><%= @office_space.address %></li>
      <li><%= @office_space.description %></li>
      <li><%= @office_space.nearest_station %></li>
      <li><%= @office_space.owner %></li>
      <li><%= @office_space.price %></li>
    </ul>
    <a href="#" class="btn-treehouse">BOOK</a>
  </div>
</div>
