<!-- office photo -->
<div class="photo-container">
  <% if @office_space.photo.file %>
  <div class="office_banner" style="background-image: url(<%= cl_image_path(@office_space.photo) %>);">
    <% else %>
    <div class="office_banner" style="background-image: url('https://source.unsplash.com/500x400/?office');">
      <% end %>
    </div>
  </div><!-- office info -->
  <div class="container">
    <h3><%= @office_space.name %></h3>
    <hr>
    <div class="description-form-container">
      <div class="row">
        <div class="col-xs-8">
          <div class="description">
            <!-- left box -->
            <ul id="list">
              <li>
                <%= @office_space.address %>
              </li>
              <br>
              <li>
                <%= @office_space.description %>
              </li>
              <br>
              <div class='icon_display'>
                <%raise%>
                <%icon_color = @office_space.wifi ? 'black' : 'grey'%>
                <div><i class="fas fa-coffee fa-lg" style="color:<%=icon_color%>"></i></div>
                <%icon_color = @office_space.wifi ? 'black' : 'grey'%>
                <div><i class="far fa-snowflake fa-lg" style="color:<%=icon_color%>"></i></div>
                <%icon_color = @office_space.wifi ? 'black' : 'grey'%>
                <div><i class="fas fa-utensils fa-lg" style="color: <%=icon_color%>"></i></div>
                <%icon_color = @office_space.wifi ? 'black' : 'grey'%>
                <div><i class="fas fa-parking fa-lg" style="color: <%=icon_color%>"></i></div>
              </div>
              <div class='icon_display'>
                <%icon_color = @office_space.wifi ? 'black' : 'grey'%>
                <div><i class="fas fa-sign-out-alt fa-lg" style="color: <%=icon_color%>"></i></div>
                <%icon_color = @office_space.wifi ? 'black' : 'grey'%>
                <div><i class="fas fa-broom fa-lg" style="color: <%=icon_color%>"></i></div>
                <%icon_color = @office_space.wifi ? 'black' : 'grey'%>
                <div><i class="fas fa-wifi fa-lg" style="color: <%=icon_color%>"></i></div>
                <%icon_color = @office_space.wifi ? 'black' : 'grey'%>
                <div><i class="fas fa-dice-six fa-lg" style="color: <%=icon_color%>"></i></div>
              </div>
              <!-- # => #<OfficeSpace id: 46, name: "LePetitParis", address: "Shibuya, 東京都, Japan", description: nil, photo: "image/upload/v1542336617/dug3l5g7qpgwxrugnnwt.jpg", nearest_station: nil, price: 30, user_id: 12, created_at: "2018-11-16 02:50:07", updated_at: "2018-11-16 02:50:07", latitude: 35.6645956, longitude: 139.6987107, wifi: false, reception: false, aircon: false, cleaning: false, meeting_rooms: false, coffee_machine: false, cafeteria: false, parking: false>
 -->
              <li>Host:
                <%= @office_space.owner.email %>
              </li>
            </ul>
            <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"></div>
          </div>
          <h2>Reviews</h1>
            <hr>
          <div class="review-card-container">
            <div class="row">
              <% @office_space.reviews.each do |review| %>
              <div class="col-xs-12">
                <div class="card-review">
                  <div class="stars">
                    <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                    <% end %>
                    <b><%= review.rating  %></b>
                  </div>
                  <div class="comment">
                    <%= review.comment %>
                  </div>
                  <div class="review-author">
                    - <%= review.user.email %>
                  </div>
                  <hr class="review-divider">
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form">
            <p class="price">$
              <b><%=@office_space.price%></b> <small><small>per day<small><small></p>
            <%= simple_form_for [@office_space, @reservation] do |f| %>
            <%= f.input :check_in, as: :string, input_html: {class: "datepicker"}, required: false%>
            <%= f.input :check_out, as: :string, input_html: {class: "datepicker"}, required: false%>
            <%= f.input :usernumber, collection: 1..5, label: "How many people?", required: false%>
            <%= f.submit "Reserve", :class => "btn-treehouse" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- office review -->

  </div>
  <hr>
<!-- comment -->
