<!-- office photo -->
<%= render 'shared/navbar_unfixed' %>
<div class="photo-container">
  <% if @office_space.photo.file %>
  <div class="office_banner" style="background-image: url(<%= cl_image_path(@office_space.photo) %>);">
    <% else %>
    <div class="office_banner" style="background-image: url('https://source.unsplash.com/500x400/?office');">
      <% end %>
    </div>
  </div><!-- office info -->
  <div class="container">
    <h3><%= @office_space.name %></h3>
    <hr>
    <div class="description-form-container">
      <div class="description">
        <!-- left box -->
        <ul id="list">
          <li>
            <%= @office_space.address %>
          </li>
          <br>
          <li>
            <%= @office_space.description %>
          </li>
          <br>
          <li>Nearest Station:
            <%= @office_space.nearest_station %>
          </li>
          <br>
          <li>Host:
            <%= @office_space.owner.email %>
          </li>
        </ul>
        <div id="map" style="width: 100%;
  height: 600px;" data-markers="<%= @markers.to_json %>"></div>
      </div>
      <div class="form">
        <h2>$<%=@office_space.price%> per day</h2>
        <%= simple_form_for [@office_space, @reservation] do |f| %>
        <%= f.input :check_in, as: :string, input_html: {class: "datepicker"}%>
        <%= f.input :check_out, as: :string, input_html: {class: "datepicker"}%>
        <%= f.input :usernumber, label: "How many people?", required: false%>
        <%= f.submit "Reserve", :class => "btn-treehouse" %>
        <% end %>
        <!-- right box -->
      </div>
    </div>
  </div>
</div>
<hr>
<!-- office review -->
<div class="container">
  <h2>Reviews</h1>
    <div class="card-container">
      <div class="row">
        <% @office_space.reviews.each do |review| %>
        <div class="col-xs-12 col-sm-6">
          <div class="card-review">
            <div class="stars">
              <% review.rating.times do %>
              <i class="fas fa-star"></i>
              <% end %>
            </div>
            <div class="comment">
              "<%= review.comment %>" - <%= review.user.email  %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
<!-- comment -->
